<select id="imageMode">
	<option value="" selected disabled>Seçiniz</option>
	<option value="server">[Server Upload]</option>
	<option value="base64">Base64</option>
</select>

<script>
	const select = document.getElementById('imageMode');

	const saved = localStorage.getItem('imageUploadMode');

	if (saved) {
		select.value = saved;
	}

	document.getElementById('imageMode').addEventListener('change', e => {
		localStorage.setItem('imageUploadMode', e.target.value);
		select.value = e.target.value;
	});
</script>