
<div class="dropdown mx-2">
	<a class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
	   aria-expanded="false">
		<i class="bi bi-marker-tip"></i> Theme
	</a>

	<ul class="dropdown-menu">
		
		<li><a href="javascript:void(0);" class="btn" data-bs-theme-value="light">Light</a></li>
		<li><a href="javascript:void(0);" class="btn" data-bs-theme-value="dark">Dark</a></li>
		<li><a href="javascript:void(0);" class="btn" data-bs-theme-value="auto">Auto</a></li>
		
	</ul>
</div>

