
<div class="dropdown mx-2">
	<a class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
	   aria-expanded="false">
		<i class="bi bi-marker-tip"></i> Theme
	</a>

	<ul class="dropdown-menu">
		
		<li><button class="dropdown-item" data-bs-theme-value="light">
			☀️ Light
		</button></li>
		<li> <button class="dropdown-item" data-bs-theme-value="dark">
			🌙 Dark
		</button></li>
		<li><button class="dropdown-item" data-bs-theme-value="auto">
			🖥 Auto
		</button></li>
		
	</ul>
</div>
