<div class="position-fixed top-0 start-0 w-100 h-100 overflow-hidden" style="z-index:-1">
	@* <img src="https://picsum.photos/1200/800" class="w-100 h-100 object-fit-cover" alt=""> *@
	<img src="./images/bg.avif" class="w-100 h-100 object-fit-cover" alt="">
	<div class="position-absolute top-0 start-0 w-100 h-100" style="background:rgba(0,0,0,0.75)"></div>
</div>