<main class="flex-grow-1 d-flex align-items-center">
	<div class="container-xxl px-4 px-lg-5">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-7 col-xl-6">

				<p class="text-uppercase text-white-50 small fw-semibold ls-widened mb-3">
					Kurumsal Çözümler
				</p>

				<h1 class="display-4 fw-bold text-white mb-4 lh-sm">
					Geleceği Birlikte<br class="d-none d-sm-block" />
					İnşa Ediyoruz
				</h1>

				<p class="lead text-white-50 mb-5 fw-normal">
					Sektördeki deneyimimiz ve yenilikçi yaklaşımımızla
					işletmenizi bir adım ileri taşıyoruz.
				</p>

				<div class="d-flex flex-column flex-sm-row gap-3">
					<a href="#" class="btn btn-light btn-lg px-4 fw-semibold">
						Keşfedin
					</a>
					<a href="#" class="btn btn-outline-light btn-lg px-4">
						Bize Ulaşın
					</a>
				</div>

			</div>
		</div>
	</div>
</main>