<div class="container d-flex justify-content-center align-items-center">
	<div class="card shadow text-center w-50">
		<div class="card-body p-5">
			<p class="display-4 text-danger mb-3">🚫</p>
			<p class="fs-1 mb-3">403. Access Denied</p>
			<p class="text-body-secondary mb-4">
				You don't have the required privileges to view this page.
			</p>
		</div>
	</div>
</div>