@model WebDocViewModel

<div class="container-fluid bg-light p-4">	

	<form method="post">

		<div class="row mb-2">
			<div class="col"><h2><span class="fs-2 text-muted">Document Editor</span></h2></div>
			<div class="col d-flex justify-content-end align-items-center">
				Encrypted 
				<div class="form-check form-switch">
					<input asp-for="IsEncrypted" class="form-check-input" />
					<span asp-validation-for="IsEncrypted"></span>
				</div>
			</div>
		</div>	

		<div class="row">
			<div class="col">
				<div class="row mb-3">
					<label asp-for="Title" class="col-sm-1 col-form-label"></label>
					<div class="col-sm-11">
						<input asp-for="Title" class="form-control" />
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="row mb-3">
					<label asp-for="Tags" class="col-sm-1 col-form-label"></label>
					<div class="col-sm-11">
						<input asp-for="Tags" class="form-control" />
						<span asp-validation-for="Tags"></span>
					</div>
				</div>
			</div>
		</div>			

		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.Id)
		@Html.HiddenFor(m => m.ProtectedId)

		<textarea id="Content" name="Content">@Model.Content</textarea>

		<button type="submit" class="btn btn-primary mt-3" asp-controller="Tiny5" asp-action="Save">
			Kaydet
		</button>

	</form>
</div>

@section Scripts {

	<partial name="_TinyCustom" />
}

<style>
	.tox-tinymce {
		border-radius: 5px !important;
		border: 1px solid #d0d7de !important;
		box-shadow: 0 2px 6px rgba(0, 0, 0, .06);
	}

	.tox, .tox-mbtn, .tox-tbtn	
	{
		font-size: 12px !important;
	}

	.tox .tox-tbtn .tox-icon {
		transform: scale(0.7);
		transform-origin: center;
	}

	.tox .tox-tbtn:not(.tox-tbtn--select) {
		width: 22px !important;
		height: 22px !important;
		background: #f1f3f5 !important;
		margin: 1px;
	}

	.tox .tox-tbtn:not(.tox-tbtn--select):hover {
		background-color: rgba(0, 0, 0, 0.08) !important;
	}

	.tox .tox-tbtn--select[aria-label="Font sizes"] {
		min-width: 55px !important;
		max-width: 55px !important;
	}

	form input,
	form select,
	form textarea {
		border-radius: 5px !important;
		border: 1px solid #d0d7de !important;
		box-shadow: 0 2px 6px rgba(0, 0, 0, .06);
		padding: 8px 12px;
	}	

	form input:focus,
	form select:focus,
	form textarea:focus {
		border-color: #86b7fe !important;
		box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, .15) !important;
		outline: none !important;
	}

	input,
	select,
	textarea,
	label,
	.form-control {
		font-size: 12px !important;
	}

	input::placeholder,
	textarea::placeholder {
		font-size: 10px !important;
	}

</style>