@using System.Text.Json
@using Microsoft.AspNetCore.Authentication

@{
	var userInfo = new
	{
		IsAuthenticated = User.Identity?.IsAuthenticated,
		Name = User.Identity?.Name,
		Claims = User.Claims.Select(c => new
		{
			c.Type,
			c.Value
		})
	};

	var json = JsonSerializer.Serialize(
		userInfo,
		new JsonSerializerOptions
		{
			WriteIndented = true
		});
}

<p class="fs-4 text-primary mt-4 mb-0"><i class="bi bi-person-vcard-fill"></i> User Details</p>

<pre><code class="language-json">@json</code></pre>

@{
	var provider = Context.RequestServices
	.GetRequiredService<IAuthenticationSchemeProvider>();

	var schemes = await provider.GetAllSchemesAsync();

	<p class="fs-4 text-primary mt-4 mb-0"><i class="bi bi-gear-fill"></i> Authentication Schemes</p>

	foreach (AuthenticationScheme scheme in schemes)
	{
		<pre><code class="language-csharp">@scheme</code></pre>
	}
}

